@import '/_colours.styl'

.error-message
  display: block
  margin: 10px 0
  padding: 8px 32px 8px 64px
  border-radius: 4px
  color: secondary-text
  line-height: 24px
  background-color: bgerror
  background-image: url("./images/attention.png")
  background-position: 25px center
  background-repeat: no-repeat
  