@require './stylus/_*.styl'

body 
  background-color: bgcolor
  overflow-x: hidden
  box-sizing: border-box
  font-family: Arial
  padding: 0
  margin: 0
}

h1 
  font-size: 36px
  line-height: 48px
  font-weight: bold
  color: secondary-text

p 
  line-height: 24px
  color: primary-text 